.available-category-wrapper {
  .category-title {
    margin-top: 0.25rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
  .category {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 136, 0, 0.1);

    svg {
      font-size: 2rem;
    }
  }

  .category-item a {
    color: black;

    &:hover {
      color: var(--primary-orange);
    }

    &:focus-within {
      color: var(--secondary-orange);
    }
  }
}
