.worker-wrapper {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05) !important;
}

.work-label {
  font-size: 15px;
  color: var(--secondary-orange);
  font-weight: 600;
}

.worker-details,
.work-details {
  margin-bottom: 0.25rem;
  svg {
    font-size: 20px;
    margin-right: 0.5rem;
  }
}

.sent-invites-wrapper {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05) !important;
}
