.navbar {
  height: 80px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05) !important;
  background-color: white;

  .navbar-toggler {
    box-shadow: none;
    outline: none;
    border: none;
  }

  .navbar-nav {
    .me-45 {
      margin-right: 2rem;
    }
  }

  .nav-item {
    font-size: 14.5px;
    font-weight: 500;

    &:hover {
      color: var(--secondary-orange);
      cursor: pointer;
    }
  }

  .nav-logo {
    width: 100px;
  }
}
