* {
  margin: 0;
}

:root {
  --primary-orange: #ffa500;
  --secondary-orange: #ff8800;
}

body {
  background-color: white;
}

.custom-button {
  border: 2px solid var(--primary-orange);
  padding: 0.6rem 1rem;
  border-radius: 8px;
  background-image: linear-gradient(
    to left,
    var(--primary-orange),
    var(--secondary-orange)
  );
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--secondary-orange),
      var(--primary-orange)
    );
    transform: scale(1.02);
  }
}

.custom-button-2 {
  border: 2px solid var(--primary-orange);
  background-color: transparent;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--secondary-orange),
      var(--primary-orange)
    );
    color: white;
    transform: scale(1.02);
  }
}

a {
  text-decoration: none;
  color: black;
}

.primary-color {
  color: var(--primary-orange);
}

.secondary-color {
  color: var(--secondary-orange);
}

.body-margin {
  margin-top: 105px !important;
}

.body-margin-2 {
  margin-top: 80px !important;
}
